<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partial/head.ejs %>
  </head>
  <body>
    <% include ./partial/nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Hello Hsu Myat</p>
  </body>
</html>
